<div class="row" id="reviewDiv"></div>

<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"));
        const request = {
            placeId: "ChIJ0WnPdVDZhDkRt04eHNGAoZE",
            fields: ["review"],
        };

        const service = new google.maps.places.PlacesService(map);

        service.getDetails(request, (place, status) => {

            for (const element of place.reviews) {

                var theDiv = document.getElementById("reviewDiv");
                theDiv.innerHTML += '<div class="col-md-2"><a class="profile_photo_url" href="'+element.author_url+'"><img src="'+element.profile_photo_url+'"></a><h6 class="author_name">' +element.author_name+ '</h6><p class="text">'+element.text+'</p></div>';

            }

        });
    }

    window.initMap = initMap;
</script>

<div id="map"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmXIZsIC6EYKp61dKvn2Tc7jhPBCQd0zI&callback=initMap&libraries=places&v=weekly"
        defer
></script>

