<script>
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"));
        const request = {
            placeId: "ChIJ0WnPdVDZhDkRt04eHNGAoZE",
            fields: ["photo", "review"],
        };

        const service = new google.maps.places.PlacesService(map);

        service.getDetails(request, (place, status) => {

            console.log(place);

        });
    }

    window.initMap = initMap;
</script>

<div id="map"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRSttyQQ9iRqnkSpymldL_VBG402Y8enY&callback=initMap&libraries=places&v=weekly"
        defer
></script>

