<div class="container">
	  
	  <div class="section-title pt-5">
          <h2>Nearby Todo</h2>
          <p>We live in a place where almost every possible activities are possible, from tiger safaris to model shopping malls near us. All this you can find within 80 kms. We have the details of Nearby Popular Place.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 content-item">
            <span><i class="fa-duotone fa-gopuram fa-2x"></i></span>
            <a href="https://www.chandrabhankadera.in/nearby/ancient-places/"><h4>Ancient places</h4></a>
            <p>There are many ancient heritage around us, which you can experience by coming here.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span><i class="fa-duotone fa-om fa-2x"></i></span>
            <a href="https://www.chandrabhankadera.in/nearby/spiritual-place/"><h4>Spiritual Place</h4></a>
            <p>We are from Chitrakoot so it is a simple matter that there are many religious places which you can visit anytime.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span><i class="fa-duotone fa-paw fa-2x"></i></span>
            <a href="https://www.chandrabhankadera.in/nearby/tiger-safari/"><h4>Tiger Safari </h4></a>
            <p>Near us is Mukundpur White Tiger Safari where you can go and see White Tiger.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span><i class="fa-duotone fa-mountains fa-2x"></i></span>
            <a href="https://www.chandrabhankadera.in/nearby/hills-and-mountains/"><h4>Hills and Mountains </h4></a>
            <p>Both Chitrakoot and Rewa district are surrounded by mountains, rather you can say that the whole Bundelkhand is made up of mountains.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span><i class="fa-duotone fa-person-hiking fa-2x"></i></span>
            <a href="https://www.chandrabhankadera.in/nearby/waterfalls-and-rivers/"><h4>Waterfalls and Rivers </h4></a>
            <p>There are total 17 waterfalls around us, out of which Keoti is the most popular.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <span><i class="fa-duotone fa-face-smile-plus fa-2x"></i></span>
            <a href="https://www.chandrabhankadera.in/nearby/"><h4>Much More</h4></a>
            <p>You can party, go camping, go fishing and do many more interesting things here.</p>
          </div>

        </div>

      </div>
    