header#header {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    border-bottom: 1 px solid var(--border-color);
}
#hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
}