header#header {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    border-bottom: 1 px solid var(--border-color);
}
#hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
}
#hero .carousel-inner .carousel-item {
    background-position: center center;
}

li.dropdown.active > a > span {
    color: #5cb874;
}
.app-state__wrapper {
    display: none !important;
}